# Xcode
*.xcuserstate
*.xcscmblueprint
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# Build
DerivedData/
build/
*.o
*.d

# Swift Package Manager
.build/
.swiftpm/
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Internal
docs/
scripts/

# AI
.claude/
.agents/
.cursor/
